* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: whitesmoke;
}
.top {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
p {
  font-size: large;
  font-weight: bold;
}
input {
  width: 5rem;
}
select {
  width: 4rem;
}
.bottom {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  color: white;
  font-weight: bold;
}
.btnClear {
  background-color: red;
}
.btnSave {
  background-color: green;
}
.btnRetrieve {
  background-color: purple;
}
